.timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text {
    font-size: 25px;
    color: #ffffff;
    margin-right: 200px;
    font-weight: bold;
  }
  
  .value {
    font-size: 20px;
    font-weight: bold;
  }
  
  